*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    transition: all 200ms;
    scroll-behavior: smooth;
}

:root {
    --fondo: #ffffff;
    --base: #626261;
    --fuente: #231f20;
}

::-webkit-scrollbar{
    width: 10px;   
}

::-webkit-scrollbar-thumb{
    background-color: var(--base);
}

header{
    width: 100%;
    z-index: 2;
}

h1{
    font-size: 3rem;
    width: 100%;
}

p{
    font-size: 20px;
    margin: 20px 0px;
    color: var(--fuente);
}

strong{
    font-size: 1.5rem;
    padding: 0;
}

label{
    margin: 10px 0px;
    font-size: 1.5rem;
}

/* accesos y redes */

.contenedorAccesos{
    width: 100%;
    background-color: var(--base);
    position: fixed;
    z-index: 2;
    top: 0;
}

.contenidoAccesos{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
}

.accesos, .redes{
    height: 80px;
    color: var(--fondo);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--CCA);
}

.accesos nav, .redes nav{
    height: 100%;
}

.accesos nav ul, .redes nav ul{
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}

.accesos nav ul li, .redes nav ul li{
    height: 100%;
    margin: 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.accesos a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--fondo);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
}
.accesos a:hover::before {
    transform: scaleX(1);
}

.redes nav ul .iconoWhatsapp{
    display: none;
}

.accesos nav ul li label{
    color: var(--fondo);
    position: relative;
    font-size: 1rem;
}

.accesos nav ul li img{
    cursor: initial;
    object-fit: cover;
}

.accesos nav ul li img, .redes nav ul li img{
    height: 1.5rem;
    filter: invert();
    padding: 0px 10px;

}

.redes nav ul .idioma img{
    filter: none;
    border-radius: 30%;
}

.iconoMenu{
    display: none;

}

.animated{
    display: flex;
}


/* nav*/

.contenedorNav{
    width: 100%;
    margin-top: 80px;
    background: var(--fondo);
}

.contenidoNav{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    background-color: var(--fondo);
}

.logo a{
    height: 120px;
    display: flex;
    align-items: center;
}

.logo a img{
    height: 60%;
    object-fit: cover;
}

.menu{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu nav {
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
    
}

.menu nav ul li{
    height: 100%;
    margin: 0px 25px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.menu nav ul li a{
    text-align: center;    
  color: var(--fuente);
  position: relative;
}

.menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--fuente);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
}
.menu a:hover::before {
    transform: scaleX(1);
}


/* nav responsive pa*/

.menuFlotante{
    display: flex;
    transform: translateY(-100vh);
    position: fixed;
    margin-top: 40px;
    padding: 20px 30px;
    border-radius: 10px;
    right: 10%;
    z-index: 4;
    background: #231f20ef;
    transition: all 500ms;
}

.mostrar{
    transform: translateY(0);
}

.menuFlotante nav {
    height: 100%;
}

.menuFlotante nav ul{
    height: 100%;
    list-style: none;
    transition: all 200ms;
}

.menuFlotante nav ul li{
    height: 50px;
    margin: 0px 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.menuFlotante nav ul li a{
  color: var(--fondo);
  position: relative

}

.menuFlotante a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--fondo);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
}
.menuFlotante a:hover::before {
    transform: scaleX(1);
}


/* whatsapp */

.whatsapp{
    position: relative;
    max-width: 100%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0px 0px;

}
.contenidoWhatsapp{
    background-color: var(--base);
    padding: 10px 20px;
    width: 30%;
    align-items: center;
    display: flex;
}

.contenidoWhatsapp img{
    width: 1.4rem;
    height: 1.4rem;
    filter: invert();
}

.contenidoWhatsapp a {
    font-size: 1rem;
    color: var(--fondo);
    margin: 10px 20px;
    position: relative;
    padding-bottom: 1px;
}

.contenidoWhatsapp a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--fondo);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
}
.contenidoWhatsapp a:hover::before {
    transform: scaleX(1);
}


/*Portada pa*/

.contenedorSlider{
    width: 100%;
    overflow: hidden;
}

.slider{
    width: 100%;
    display: flex;
}

.contenidoSlider{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background-image: url(../img/clinica/portada/01.png);
    color: #fff;
    background-size: cover;
    background-position: center;
    
}

.contenidoSlider:nth-child(2){
    background-image: url(../img/clinica/portada/02.png);
    background-size: cover;
    background-position: center;
}

.contenidoSlider:nth-child(3){
    background-image: url(../img/clinica/portada/01.png);
    background-size: cover;
    background-position: center;    
}

.contenedorContenidoPortada{
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoPortada img{
    width: 3rem;
}

.contenedorTextoPortada{
    color: var(--fondo);
    padding: 0px 40px;
}

/* body */

.contenedorBody{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Slider Equipo*/

.contenedorSliderEquipo{
    width: 70%;
    margin: auto;
}

.contenidoSliderEquipo{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
.slide{
    padding: 10px;
    height: 100%;
}
.sliderAnterior, .slideSiguiente{
    background: none;
    border: none;
}
.slideSiguiente img{
    transform: scaleX(-1);
}
.sliderAnterior img, .slideSiguiente img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Nutricion */

.contenedorNutricion{
    width: 100%;
}

.contenedorNutricion div{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 80px;
    padding: 80px 0px;
    border-top: var(--fuente) solid 3px;
}

.contenedorNutricion div section{
    width: 59%;
    text-align: justify;
}

.contenedorNutricion div h3{
    font-size: 1.9rem;
    font-weight: 500;
}

.contenedorNutricion div img{
    width: 37%;
    height: 400px;
    object-fit: cover;
}


/* Cita */

.cita{
    width: 70%;
    margin: auto;
    padding: 80px 0px;
    border-top: var(--fuente) solid 3px ;
    display: flex;
}

.columna{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.columna img{
    width: 100%;
    margin-top: 30px;
    object-fit: cover;
    object-position: center;
}

.textoWhatsapp{
    width: 100%;
    margin: 20px 0px;
}

.textoWhatsapp .imgWhatsapp{
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
}

.textoWhatsapp label{
    font-size: 2rem;
}

.columna .hide{
    width: 40%;
}

/* Ubicación */

.contenidoUbicacion{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 80px 0px;
    border-top: var(--fuente) solid 3px;
}


/* Contacto */

.contenedorContacto{
    width: 100%;
    background: rgb(207,85,122);
    background: linear-gradient(0deg, rgba(207,85,122,1) 0%, rgba(255,255,255,1) 100%);
    padding-bottom: 120px;
}

.contenidoContacto{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: left;
    padding: 80px 0px;
    border-top: 3px solid var(--fuente);
    border-bottom: 3px solid var(--fuente);
}

.contenidoContacto ul li label a{
    color: var(--fuente);
    position: relative;
}
.contenidoContacto a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--fuente);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
.contenidoContacto a:hover::before {
    transform: scaleX(1);
}

.contenedorFormulario{
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.formularioContacto{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.formularioContacto input{
    border: none;
    height: 60px;
    margin: 10px 0px;
    padding: 0px 20px;
    outline: none;
}

.formularioContacto button{
    border: none;
    outline: none;
    width: 100%;
    height: 60px;
    font-size: 1rem;
    margin: 40px 0px;
    background-color: var(--fondo);
}

.formularioContacto button:hover{
    background-color: #e0e0e0;
}

/* footer? */


footer{
    width: 100%;
    background: rgb(161,3,51);
    background: linear-gradient(0deg, rgba(161,3,51,1) 0%, rgba(207,85,122,1) 100%);
}

.contenidoFooter{
    width: 70%;
    margin: auto;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenidoFooter label{
    color: var(--fondo);
}

footer img{
    width: 25%;
    height: 15%;
    object-fit: cover;
}